<div class="uk-container-xl-large uk-text-center">
  <h2>Welcome to the Caluma-Demo</h2>
  <p>
    On this page you can try Caluma. You can create forms, fill them out and view them directly.
  </p>
</div>