{{#if this.model}}
  <div uk-height-match="target: > div > .uk-card > .uk-card-body" class="uk-grid-small uk-child-width-1-4@s uk-text-center" uk-grid>
    {{#each this.model as |form|}}
      <div>
        {{#uk-card  hover=true color="default" as |card|}}
          {{#card.header}}
            {{#card.title}}
              <p class="uk-text-truncate">
                {{form.node.name}}
              </p>
            {{/card.title}}
          {{/card.header}}
          {{#card.body}}
            <p class="uk-text-truncate">
              {{form.node.description}}
            </p>
          {{/card.body}}
          {{#card.footer}}
            <button class="uk-button uk-button-primary" {{action "createDocument" form.node.slug}}>{{t "forms.create" }}</button>
          {{/card.footer}}
        {{/uk-card}}
      </div>
    {{/each}}
  </div>
{{/if}}