<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li><LinkTo @route="home">{{t "nav.home" }}</LinkTo></li>
      <li><LinkTo @route="form-builder">{{t "nav.form-builder" }}</LinkTo></li>
      <li><LinkTo @route="documents">{{t "nav.show-forms" }}</LinkTo></li>
    </ul>
  </div>
</nav>