<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li><LinkTo @route="home">Home</LinkTo></li>
      <li><LinkTo @route="form-builder">Form-Builder</LinkTo></li>
      <li><LinkTo @route="show-forms">Show Forms</LinkTo></li>
    </ul>
  </div>
</nav>